.bigpic {
  background: url(https://sun9-27.userapi.com/c857120/v857120769/16d8a2/Tvvfhqx05d0.jpg)
    no-repeat bottom center;
  max-width: 100%;

  height: 900px;
  position: relative;

  margin: 0px;
  padding: 0px;

  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background-size: cover;
}
.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-grow: 5;
  margin: 10px;
  flex-wrap: wrap;
  list-style: none;
}
.bruh {
  margin: 15px;
  color: white;
  text-decoration: none;
  font-family: "Lato", Arial, Helvetica, sans-serif;
}
* {
  margin: 0;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  vertical-align: baseline;
}
.item22 {
  display: block;
}
.header {
  justify-content: space-between;
}
@media (max-width: 600px) {
  .bigpic {
    height: 800px;
  }
}
