.bigpic {
  background: url(https://sun1.velcom-by-minsk.userapi.com/iUfmWHYcgFuhBtvH6IX7fr2kYsRIzmxr6F2lUA/axO3PfYV4Ns.jpg);
}
.body {
  background-image: url(https://psv4.userapi.com/c856532/u461864111/docs/d15/93b81e55ebd3/Bezymyanny-1.png?extra=RaTWI3q8xuNvFIAW0BDfcwCKKffDUij8rdRnBlzh9TvLaYKDp5EypeYMjCEoaVZ-EzmX-L8oki3SA0u4_WZjRbGpoNddU17aE8czmTNWneL_ak_xwnY2GDz6oNDaMlLUcA20xBzqIv45t4gBdKWRSRs);
  background-repeat: repeat;
  background-size: 1000px;
}
.head {
  width: 100%;
  height: 100px;
  background-color: rgba(156, 124, 82, 0.616);
}
.nav-container {
  display: flex;
  justify-content: flex-end;
}
.rcp {
  position: relative;
  width: calc(33% - 20px);
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.rcp .modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
.kek {
  justify-content: flex-end;
  margin: 45px;
  list-style: none;
}
.map {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.map iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
li {
  display: inline-block;
}
* {
  margin: 0;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  vertical-align: baseline;
}
.oof {
  width: 100px;
}
.bruh {
  margin: 15px;
  color: white;
  text-decoration: none;
}
@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}